<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生登録</title>
</head>
<body>
<h1>受講生登録</h1>

<form th:action="@{/registerStudent}" th:object="${studentDetail}" method="post">
  <div>
    <label for="fullname">フルネーム</label>
    <input type="text" id="fullname" th:field="*{student.fullname}" required/>
  </div>
  <div>
    <label for="kanaName">ふりがな</label>
    <input type="text" id="kanaName" th:field="*{student.kanaName}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム</label>
    <input type="text" id="nickname" th:field="*{student.nickname}" />
  </div>
  <div>
    <label for="email">Emailアドレス</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="city">地域</label>
    <input type="text" id="city" th:field="*{student.city}" />
  </div>
  <div>
    <label for="telephone">電話番号</label>
    <input type="tel" id="telephone" th:field="*{student.telephone}" />
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="number" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label>性別<input type="radio" name="gender">男</label><!-- TODO:ここに入れるの変じゃない？ -->
    <label><input type="radio" name="gender">女</label>
    <label><input type="radio" name="gender">その他</label>
  </div>
  <div>
    <label for="remark">備考</label>
    <input type="text" id="remark" th:field="*{student.remark}">
  </div>
  <div th:each="course, stat : *{studentsCourses}">
    <label for="courseName"
           th:for="studentsCourses.__${stat.index}__.courseName">受講コース名</label>
    <input type="text" id="courseName" th:id="studentsCourses.__${stat.index}__.courseName"
           th:field="*{studentsCourses[__${stat.index}__].courseName}" required/>
  </div>
  <div>
  <div>
    <button type="submit">登録</button>
  </div>
</form>

</body>
</html>