<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生一覧</title>
</head>
<body>
<h1>受講生一覧</h1>
<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>名前</th>
    <th>ふりがな</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentDetail : ${studentDetails}">
    <td th:text="${studentDetail.student.studentId}">202407-00001</td>
    <td th:text="${studentDetail.student.fullname}">服部次郎</td>
    <td th:text="${studentDetail.student.kanaName}">はっとりじろう</td>
    <td th:text="${studentDetail.student.nickname}">ハットリくん</td>
    <td th:text="${studentDetail.student.email}">ninja@gamil.com</td>
    <td th:text="${studentDetail.student.city}">滋賀県甲賀市</td>
    <td th:text="${studentDetail.student.age}">33</td>
    <td th:text="${studentDetail.student.gender}">その他</td>
    <td th:text="${studentDetail.student.remark}">特になし</td>
  </tr>
  </tbody>
</table>
</body>
</html>