<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>在籍受講生&コース一覧</title>
</head>
<body>
<h3>在籍受講生一覧</h3>
<table border="1">
  <thead>
  <tr>
    <th>受講生ID</th>
    <th>名前</th>
    <th>ふりがな</th>
    <th>ニックネーム</th>
    <th>メールアドレス</th>
    <th>地域</th>
    <th>電話番号</th>
    <th>年齢</th>
    <th>性別</th>
    <th>備考</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="student : ${studentList}">
    <td th:text="${student.studentId}">202407-00001</td>
    <td>
      <a th:href="@{/student/{studentId}(studentId=${student.studentId})}"
         th:text="${student.fullname}">服部次郎</a>
    </td>
    <td th:text="${student.kanaName}">はっとりじろう</td>
    <td th:text="${student.nickname}">ハットリくん</td>
    <td th:text="${student.email}">ninja@gamil.com</td>
    <td th:text="${student.city}">滋賀県甲賀市</td>
    <td th:text="${student.telephone}">090-1234-5678</td>
    <td th:text="${student.age}">33</td>
    <td th:text="${student.gender}">その他</td>
    <td th:text="${student.remark}">特になし</td>
  </tr>
  </tbody>
</table>
<div>
  <button type="button" onclick="window.location.href='/deletedStudentList'">退会者リスト
  </button>
</div>
<br> <!-- 空行 -->

<h3>在籍受講生のコース一覧</h3>
<table border="1">
  <thead>
  <tr>
    <th>コースID</th>
    <th>コース名</th>
    <th>受講生ID</th>
    <th>受講開始日</th>
    <th>受講修了予定日</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="studentCourses : ${courseList}">
    <td th:text="${studentCourses.courseId}">00007</td>
    <td th:text="${studentCourses.courseName}">Java</td>
    <td th:text="${studentCourses.studentId}">202408-00002</td>
    <td th:text="${studentCourses.courseStartAt}">2024-09-23</td>
    <td th:text="${studentCourses.courseEndAt}">2025-03-23</td>
  </tr>
  </tbody>
</table>
</body>
</html>