<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<h2>受講生プロフィール情報</h2>

<form th:object="${studentDetail}"
      th:action="@{/updateStudent}" method="post">
  <div>
    <input type="hidden" th:field="*{student.studentId}"/>
  </div>
  <div>
    <label for="fullname">フルネーム</label>
    <input type="text" maxlength="20" id="fullname" th:field="*{student.fullname}" required/>
  </div>
  <div>
    <label for="kanaName">ふりがな</label>
    <input type="text" maxlength="20" id="kanaName" th:field="*{student.kanaName}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム</label>
    <input type="text" maxlength="20" id="nickname" th:field="*{student.nickname}"/>
  </div>
  <div>
    <label for="email">Emailアドレス</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="city">地域</label>
    <input type="text" maxlength="15" id="city" th:field="*{student.area}"/>
  </div>
  <div>
    <label for="telephone">電話番号</label>
    <input type="tel" pattern="\d{2,4}-\d{2,4}-\d{4}" placeholder="例: 03-1234-5678" id="telephone"
           th:field="*{student.telephone}"/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="number" min="12" max="150" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="sex_male">性別</label>
    <input type="radio" id="sex_male" name="sex" value="男" th:field="*{student.sex}"/>男
    <label for="sex_female"></label>
    <input type="radio" id="sex_female" name="sex" value="女" th:field="*{student.sex}"/>女
    <label for="sex_other"></label>
    <input type="radio" id="sex_other" name="sex" value="その他"
           th:field="*{student.sex}"/>その他
  </div>
  <div>
    <label for="remark">備考</label>
    <input type="text" id="remark" th:field="*{student.remark}">
  </div>
  <div>
    <label for="isDeleted">キャンセル</label>
    <input type="checkbox" id="isDeleted" name="isDeleted" checked th:field="*{student.deleted}"/>
  </div>

  <h2>受講生コース情報</h2>

  <div th:each="course, iterStat : ${studentDetail.studentsCourses}">
    <h3>コース [[${iterStat.index + 1}]]</h3>

    <div>
      <input type="hidden" th:field="*{studentsCourses[__${iterStat.index}__].courseId}"/>
    </div>
    <div>
      <input type="hidden" th:field="*{studentsCourses[__${iterStat.index}__].studentId}"/>
    </div>

    <div>
      <label for="courseName">受講コース名</label>
      <select id="courseName" th:field="*{studentsCourses[__${iterStat.index}__].courseName}"
              required>
        <option value="Java" th:selected="${course.courseName == 'Java'}">Java</option>
        <option value="AWS" th:selected="${course.courseName == 'AWS'}">AWS</option>
        <option value="デザイン" th:selected="${course.courseName == 'デザイン'}">デザイン</option>
        <option value="Webマーケ" th:selected="${course.courseName == 'Webマーケ'}">Webマーケ
        </option>
        <option value="WordPress" th:selected="${course.courseName == 'WordPress'}">WordPress
        </option>
      </select>
    </div>

    <div>
      <p>開始日　[[${course.courseStartAt}]]</p>
      <input type="hidden"
             th:field="*{studentsCourses[__${iterStat.index}__].courseStartAt}" required/>
    </div>
    <div>
      <label for="courseEndAt">サポート終了日</label>
      <input type="text" id="courseEndAt"
             th:field="*{studentsCourses[__${iterStat.index}__].courseEndAt}"/>
    </div>
  </div>
  <div>
    <button type="submit">更新</button>
    <button type="button" onclick="window.location.href='/studentAndCourseList'">キャンセル
    </button>
  </div>
</form>
</body>
</html>
