<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>受講生詳細</title>
</head>
<body>
<h1>受講生詳細</h1>
<h2>受講生プロフィール情報</h2>

<form th:object="${studentDetail}"
      th:action="@{/students/update}" method="post">
  <div>
    <input type="hidden" th:field="*{student.studentId}"/>
  </div>
  <div>
    <label for="fullname">フルネーム</label>
    <input type="text" maxlength="20" id="fullname" th:field="*{student.fullname}" required/>
  </div>
  <div>
    <label for="kanaName">ふりがな</label>
    <input type="text" maxlength="20" id="kanaName" th:field="*{student.kanaName}" required/>
  </div>
  <div>
    <label for="nickname">ニックネーム</label>
    <input type="text" maxlength="20" id="nickname" th:field="*{student.nickname}"/>
  </div>
  <div>
    <label for="email">Emailアドレス</label>
    <input type="email" id="email" th:field="*{student.email}" required/>
  </div>
  <div>
    <label for="city">地域</label>
    <input type="text" maxlength="15" id="city" th:field="*{student.city}"/>
  </div>
  <div>
    <label for="telephone">電話番号</label>
    <input type="tel" pattern="\d{2,4}-\d{2,4}-\d{4}" placeholder="例: 03-1234-5678" id="telephone"
           th:field="*{student.telephone}"/>
  </div>
  <div>
    <label for="age">年齢</label>
    <input type="number" min="12" max="150" id="age" th:field="*{student.age}"/>
  </div>
  <div>
    <label for="gender_male">性別</label>
    <input type="radio" id="gender_male" name="gender" value="男" th:field="*{student.gender}"/>男
    <label for="gender_female"></label>
    <input type="radio" id="gender_female" name="gender" value="女" th:field="*{student.gender}"/>女
    <label for="gender_other"></label>
    <input type="radio" id="gender_other" name="gender" value="その他"
           th:field="*{student.gender}"/>その他
  </div>
  <div>
    <label for="remark">備考</label>
    <input type="text" id="remark" th:field="*{student.remark}">
  </div>
  <div>
    <label for="isDeleted_false">ステータス</label>
    <input type="radio" id="isDeleted_false" name="deleted" value="false"
           th:field="*{student.deleted}"/>在籍
    <label for="isDeleted_true"></label>
    <input type="radio" id="isDeleted_true" name="deleted" value="true"
           th:field="*{student.deleted}"/>退会済み
  </div>

  <h2>受講生コース情報</h2>

  <div th:each="course, iterStat : ${studentDetail.studentsCourses}">
    <h3>コース [[${iterStat.index + 1}]]</h3>

    <div>
      <input type="hidden" th:field="*{studentsCourses[__${iterStat.index}__].courseId}"/>
    </div>
    <div>
      <input type="hidden" th:field="*{studentsCourses[__${iterStat.index}__].studentId}"/>
    </div>

    <div>
      <label for="courseName">受講コース名</label>
      <select id="courseName" th:field="*{studentsCourses[__${iterStat.index}__].courseName}"
              required>
        <option value="Java" th:selected="${course.courseName == 'Java'}">Java</option>
        <option value="AWS" th:selected="${course.courseName == 'AWS'}">AWS</option>
        <option value="デザイン" th:selected="${course.courseName == 'デザイン'}">デザイン</option>
        <option value="Webマーケ" th:selected="${course.courseName == 'Webマーケ'}">Webマーケ
        </option>
        <option value="WordPress" th:selected="${course.courseName == 'WordPress'}">WordPress
        </option>
      </select>
    </div>

    <div>
      <p>開始日　[[${course.courseStartAt}]]</p>
      <input type="hidden"
             th:field="*{studentsCourses[__${iterStat.index}__].courseStartAt}" required/>
    </div>
    <div>
      <label for="courseEndAt">終了日</label>
      <input type="text" id="courseEndAt"
             th:field="*{studentsCourses[__${iterStat.index}__].courseEndAt}"/>
    </div>
  </div>
  <div>
    <button type="submit">更新</button>
    <button type="button" onclick="window.location.href='/students'">キャンセル
    </button>
  </div>
</form>

<h2>受講生のコース追加登録</h2>

<form th:action="@{/students/courses/new}" th:object="${newCourse}" method="post">
  <div>
    <input type="hidden" th:field="*{studentId}"/>
  </div>
  <div>
    <label for="newCourseName">受講コース名</label>
    <select id="newCourseName" th:field="*{courseName}" required>
      <option value="" disabled selected>選択してください</option>
      <option value="Java">Java</option>
      <option value="AWS">AWS</option>
      <option value="デザイン">デザイン</option>
      <option value="Webマーケ">Webマーケ</option>
      <option value="WordPress">WordPress</option>
    </select>
  </div>
  <div>
    <label for="newCourseStartAt">開始日</label>
    <input type="date" id="newCourseStartAt" th:field="*{courseStartAt}" required/>
  </div>
  <div>
    <button type="submit">追加</button>
  </div>
</form>

</body>
</html>